*{
	padding: 0px;
	margin: 0px;
}
h1{
	font-family: sans-serif;
	font-weight: 400px;
	height: 60px;
	width: 100%;
	background: #ccc;
	line-height: 60px;
	color: white;
}
div{
	width: 250px;
	height: 666px;
	background: #16A5C7;
}
div a{
	text-decoration: none;
	color: white;
	padding: 20px;
	padding-right: 100px;
}
div ul li{
	list-style-type: none;
	display: block;
	padding: 15px;
	border-bottom: 1px solid #ccc;
}
div ul li:hover{
	background: white;
	transition: linear all 0.40s;
	margin-left:10px;
}
div ul a:hover{
	color: black;
}
.selected{
	background: white;
	color: black;

}
.selected a{
	color: black;
	
}